{% extends 'base.html' %}
{%block content%}
<link href="{{ STATIC_URL }}css/cliente.css" rel="stylesheet" type="text/css" />

<ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider"></span></li>
    <li><a href="{% url 'comidas:comida_lista' %}">Lista de Comidas</a></li>
    <li class="active">Editar</li>
</ul>

<div class="bs-callout bs-callout-danger">
  <h4>Editar</h4>
</div>
<form class="form-inline" method="POST" >
    {% csrf_token %}            
    <label>{{form.nome.label}} :</label>{{form.nome}}{{form.nome.errors}}</p>
    <p><button type="submit" class="btn btn-success">Salvar</button></p>
</form> 
{%endblock%}


