<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">		
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/topo.css" rel="stylesheet">


	<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	
	
	
	<link href="{{STATIC_URL}}css/principal.css" rel="stylesheet">
	
</head>

<body class="front scroll-spy">
	<header class="header fixed clearfix">
		<div class="col-md-4">
			<nav class="navbar navbar-default" role="navigation">
				<div class="collapse navbar-collapse  scrollspy smooth-scroll" id="navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="#home" class="link-menu">INÍCIO</a>
						</li>
						<li>
							<a href="#sobre" class="link-menu">RESTAURANTES</a>
						</li>
						<li>
							<a href="#contato" class="link-menu" data-toggle="dropdown">CONTATO</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>


		<div class="col-md-1 topo-login">
			<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav navbar-right">
					<li class="">
						<a href="" class="link-menu">Cadastre-se!</a>
					</li>
					<li class="active">
						<a href="/login/" class="link-menu">login</a>
					</li>
				</ul>
			</nav>
		</div>


	</header>
	<div id="box">
        {%block content%}
		{%endblock%}	
    </div>
	
	<footer id="footer">
	</footer>
</body>
</html>